* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

.bold-input > * {
  color: black !important;
  font-weight: 600 !important;
}

.seg-info-container {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.4s ease-in-out;
  max-height: 300px;
}

.seg-info-container.no-fill {
  transform: scaleY(0) !important;
  max-height: 0 !important;
}